<div class="add_task">
	<div class="add_task_wrapper">
		<h1>タスクを追加</h1>

		<%= render 'form', task: @task %>

		<%= link_to tasks_path do %>
		<i class="fa fa-home"></i>
		<% end %>
    </div>
</div>