.profile_wrapper{
	align-items: stretch;
    min-height: calc(100vh - 41px);
    width: 922px;
    margin: 0 auto;
    .profile_field {
    	display: block;
		background: #fff;
		text-align:center;
	    padding:40px;
	    width: 100%;
	    .edit_user {
	    	display: inline-block;
	    	.field {
	    		padding: 8px 0;

		    	input {
		    		padding: 6px;
		    		margin: 0 auto;
		    		outline: none;
		    	}
	        }
	        .actions { 
    			input {
    			    margin: 0 auto;
    			    color: #fff;
    			    background-color: #db4c3f;
    			    padding: 4px 10px;
    			    &:hover {
			        	border-color: #b0281a;
			            background-color: #c53727;
			        }
    		    }
    	    }  
	    }
    }
}