.passsword_resetting {
	align-items: stretch;
    min-height: calc(100vh - 41px);
    width: 922px;
    margin: 0 auto;
    .passsword_wrapper {
    	display: block;
		background: #fff;
		width: 100%;
		.resseting_list {
			display: block;
            text-align: center;
            margin-top: 80px;
            .field  {
            	display: flex;
			    justify-content: center;
			    margin: 30px;
			    label {
                	margin: auto 5px;
                }
			    input {
                	padding: 8px;
				    font-size: 13px;
				    outline: none;
				    max-width: 270px;
				    border-radius: 2px;
				    background: #eee;
				    box-sizing: border-box;
				    border: none;
                }
            }
            .actions {
            	    margin: 20px;
                 input {
                 	font-size: 15px;
                	background-color: #db4c3f;
		            color: #fff !important;
		            padding: 3px;
		            border: 1px solid transparent;
		            border-radius: 5px;
		            display: block;
                    margin: auto;
					&:hover {
	            	    border-color: #b0281a;
	                    background-color: #c53727;
	                }
                }
            }
            a {
				display: block;
				margin: auto;
				font-size: 13px;
				&:hover {
	            	opacity: .8;
	            }
			}
		}
    }
}